:root{
    --background-color-dark:#050E15;
    --color-elementos-1: #013A64;
    --color-texto-secundario:#F8F8F2;
    --gradiente-texto: linear-gradient(180deg, #fff100 20.5%, #ecbf24 55.5%, #e68d03 100%);
    --gradiente-select-menu: url("assets/backgroundElements.png");
    --grad-texto-azul:linear-gradient(180deg, #e7ed92 14.5%, #99d764 55.5%, #69f700 90%);
}

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


body{
    background-color: var(--background-color-dark);
    margin: 0;
    color: var(--color-texto-secundario);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

ul::-webkit-scrollbar{
    width: 10px;
    background: #8299ac;
    border-radius: 5px;
}

ul::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--background-color-dark);
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: var(--color-texto-secundario);
}

button{
    background-color: transparent;
    border: none;
    color: var(--color-texto-secundario);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.navbar-container{
    width: 100%;
    position: fixed;
    z-index: 99999;
}

.navbar{
    background-color: var(--color-elementos-1);
    display: flex;
    height: 60px;
    padding: 0px 36px 0px 41px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    align-self: stretch;
}

.logo-navbar{
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center; 

}

.logo-navbar>div>a{
    display: flex;
}

.navbar-search{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.form-navbar{
    display: flex;
    width: 70%;
    padding: 5px 10px 5px 15px;
    justify-content: space-between;
    align-items: center; 
    border-radius: 10px;
    background: var(--background-color-dark);
    color: var(--color-texto-secundario);
}

.input-search{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.form-navbar>input{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    color: var(--color-texto-secundario);
}

.form-navbar>button{
    background-color: transparent;
    border: none;
}
.form-navbar>button>svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
}

.navbar-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    
}

.navbar-icons>button{
    padding: 0;
    margin: 0;
    padding: 8px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: visibility-div 300ms ease 0ms;
}

.navbar-icons>button:hover{
    background-color: var(--background-color-dark);
}

.navbar-icons>button>svg{
    width: 24px;
    height: 24px; 
}
.elements-overlay{
    overflow-y: hidden;
    width: 100%;
    position: absolute;
    z-index: 99999;
}

.search-explore-overlay{
    height: calc(100vh - 60px);
    overflow-y: hidden;
    width: 100%;
}
.search-explore-container{
    display: flex;
    padding: 20px 80px;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    gap: 15px;
    border: 1px solid var(--color-background-dark, #050E15);
    background-color: var(--color-elementos-1);
    background: var(--gradiente-select-menu);
    background-size: cover;
}

.search-explore-container>div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    font-family: "Noto Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-explore-container>div h2{
    margin: 0;
    font-weight: 600;
}

.search-explore-container>div>svg{
    width: 24px;
}

.search-explore-container>ul{
    display: flex;
    align-items: flex-start;
    gap: 45px;
    align-self: stretch;
    list-style: none;
    padding: 0;
}

.search-explore-container>ul>li{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch; 
    font-family: "Noto Sans";
    line-height: normal;
}

.search-explore-container>ul>li>h3{
    margin-bottom: 5px;
    font-size: 20px;
    color: #97eb57;
    font-weight: 500;
}

.search-explore-container>ul>li>div:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--color-texto-secundario);
}

.popup-overlay{
    height: calc(100vh - 60px);
    overflow-y: hidden;
    width: 100%;
}

.popup{
    display: flex;
    min-width: 200px;
    height: 120px;
    padding: 8px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 0px;
    background-color: var(--color-elementos-1);
    background: url(assets/backgroundElements.png);
    background-size: cover;
    margin: 5px;
    border-radius: 12px;
    animation: popUp-traslate 500ms ease 0ms;
}

@keyframes popUp-traslate {
    0%{
        transform: translateY(-150px);
        visibility: hidden;
    }
    100%{
        transform: translateY(0px);
    }
}


.user-popup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    align-content: center;
}
.user-popup>div:first-child{
    margin-right: 20px;
}


.notifications-popup>div:first-child,.cart-popup>div:first-child,.user-popup>div:nth-child(2) {
    color: var(--color-texto-secundario);
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-end;
}


.notifications-popup>div:nth-child(2), .cart-popup>div:nth-child(2),.user-popup>div:first-child,.user-popup>div:last-child{
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-end;
}

.user-popup>div:first-child{
    align-self: flex-start;
}

.notifications-popup>div:nth-child(2)>button,.cart-popup>div:nth-child(2)>button,.user-popup>div:first-child>button,.user-popup>div:last-child>button{
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.sections-overlay{
    height: calc(100vh - 60px);
    /* overflow-y: hidden; */
    width: 100%; 
    display: flex;
    justify-content: center;
    z-index: 9999;
    background-color: var(--background-color-dark);
}

.sections-overlay>div{
    display: flex;
    width: 800px;
    padding: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background: var(--gradiente-select-menu);
    background-size: cover;
    background-blend-mode: lighten;
    align-self: center;
    margin-top: 75px;
    box-shadow: -1px -1px 20px 10px #20211f8c;
    z-index: 9999;
    animation: visibility-div 300ms ease 0ms;
}

@keyframes visibility-div {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.notifications-menu>div{
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: absolute;
}

.sections-overlay>div>div:first-child{
    display: inline-flex;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
}

.sections-overlay>div>div:first-child>h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10px;
}

.sections-overlay>div>ul{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 0 20px 
}

.sections-overlay>div>ul::-webkit-scrollbar{
    width: 10px;
    background: #8299ac;
    border-radius: 5px;
}

.sections-overlay>div>ul::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--background-color-dark);
    border-radius: 5px;
}

.sections-overlay>div>ul>div{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 10px 10px;
    border-bottom: 1px solid var(--color-texto-secundario);
}

.notifications-menu>div>ul>div>div{
    width: 100%;
}

.notifications-menu>div>ul>div>div>div:first-child{
    font-size: 18px;
}

.notifications-menu>div>ul>div>div>div:nth-child(2){
    font-size: 16px;
    color: #ffda54;
}

.notifications-menu>div>ul>div>div>p{
    font-size: 16px;
    font-weight: 200;
    margin-top: 5px;
}

.svg-delete-item{
    display: flex;
    align-items: center;
    border: transparent solid 2px;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
}
.svg-delete-item:hover{
    border: #493131 solid 2px;
    background-color: #912222;
    padding: 5px;
}

.cart-overlay>div{
    height: 500px;
    max-width: 650px;
}

.cart-overlay>div>div:last-child{
    display: inline-flex;
    justify-content: space-around;
    align-self: stretch;
    width: 100%;
}

.cart-overlay.sections-overlay>div>ul>div>div:first-of-type{
    width: 250px;
} 

.cart-overlay.sections-overlay>div>ul>div>div:first-of-type>div:nth-child(2){
    font-weight: 200;
}
.cart-overlay.sections-overlay>div>ul>div>div:first-of-type>div:nth-child(3){
    font-weight: 200;
}

.cart-overlay.sections-overlay>div>ul>div>div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
} 

.cart-overlay.sections-overlay>div>ul>div>div:nth-of-type(2)>button{
    display: flex;
    width: 22px;
    height: 22px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--background-color-dark);
    font-family: monospace;
}

.registration-overlay>div{
    position: absolute; 
    max-width: 500px;
}

.registration-overlay>div>div:first-child>h3 {
    padding: 0;
}

.registration-overlay>div>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.registration-overlay>div>form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
}
.registration-overlay>div>form label{
    align-self: flex-start;
}

.registration-overlay>div>form input{
    height: 31px;
    border-radius: 5px;
    background: var(--background-color-dark);
    color: var(--color-texto-secundario);
    border: none;
    width: 100%;
    padding-left: 10px;
}

.registration-overlay>div>form p{
    font-weight: 200;
    color: #ffda54;
}

.mana-elements-svg>svg:first-child{
    filter: drop-shadow(0px -4px 30px #98e46b82);
    position: absolute;
    top: 180px;
    left: 100px;
}
.mana-elements-svg>svg:nth-child(2){
    filter: drop-shadow(0px -10px 60px #6be4e482);
    position: absolute;
    top: 400px;
    left: 140px;
}
.mana-elements-svg>svg:nth-child(3){
    filter: drop-shadow(10px -1px 60px #e373ff82);
    position: absolute;
    top: 390px;
    right: 140px;
}
.mana-elements-svg>svg:last-child{
    filter: drop-shadow(0px 0px 40px #e4e26b82);
    position: absolute;
    top: 690px;
    right: 250px;
}

.user-menu{
    margin-top: 5px;
    display: flex;
    width: 250px;
    height: calc(100vh - 115px);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 12px;
    border: 1px solid var(--color-background-dark, #050E15);
    background:var(--gradiente-select-menu);
    background-size: cover;
    position: absolute;
    right: 0px;
    top: calc(0px + 60px);
    z-index: 99999;
    box-shadow: -10px 5px 20px 5px var(--background-color-dark);
    animation: from-right 300ms ease 0ms;
}

@keyframes from-right {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}

.menu-closed{
    animation: to-right 300ms ease 0ms; 
}

@keyframes to-right {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(500px);
    }
}

.user-menu>button{
    align-self: flex-end;
}

.user-menu-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--background-color-dark);
}

.user-menu-photo>h3{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-menu-content{
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--background-color-dark);
}

.user-menu-content>ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    
}

.user-menu-content>ul>div{
    width: 100%;
}

.user-menu-list-item{
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    background-color: unset;
    width: calc(100% - 24px);
    border-radius: 8px;
}

.user-menu-list-item:hover{
    background-color: var(--background-color-dark);
}

.user-menu-submenu{
    display: flex;
    width: 205px;
    flex-direction: column;
    align-items: flex-start;
    background-color: unset;
}

.user-menu-submenu>div{
    display: flex;
    width: 172px;
    padding: 8px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    margin-left: 50px;
}

.user-menu-submenu>div:hover{
    background-color: var(--background-color-dark);
}

.user-menu-settings{
    flex: 1 0 0;
    width: 100%;
}

.user-menu-settings>div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 8px;
}

.user-menu-settings>div:hover{
    border-radius: 8px;
    background-color: var(--background-color-dark);
}

.user-menu-last{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: calc(100% - 24px);
}

.user-menu-last>div{
    display: flex;
    flex-direction: row;
    padding: 10px 12px;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.user-menu-last>div:hover{
    border-radius: 8px;
    background-color: var(--background-color-dark);
}

.section-main-content{
    animation: visibility-div 400ms ease 0ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.on-sale-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.on-sale-section>h3{
    margin-top: 35px;
    font-size: 36px;
    font-weight: 600;
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-start;
}

.on-sale-section>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    gap: 25px;
    gap: 25px;
    padding: 15px 50px;
}

.on-sale-section>ul>li{
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #152531;
    border-radius: 15px;
    gap: 5px;
    padding: 10px;
    border: 2px solid #7c878f;
}

.on-sale-section>ul>li>div{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    margin: 0 auto;
}

.on-sale-section>ul>li>div:last-of-type{
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

.on-sale-section>ul>li>div>img{
    max-width: 100%;
    max-height: 100%;
}

.on-sale-section>ul>li>p:first-of-type{
    margin: 5px 0;
    font-size: 20px;
    font-weight: 400;
    color: #97eb57;
    flex: 1 0 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.on-sale-section>ul>li>p:nth-of-type(2){
    font-weight: 400;
}

.on-sale-section>ul>li>div:last-of-type{
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.on-sale-section>ul>li>div:last-of-type>p{
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
}

.add-to-cart{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.add-to-cart:hover{
    background-color: var(--background-color-dark);
}

.add-to-cart>svg{
    width: 20px;
}

.explore-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 350px;
}

.explore-cards div{
    max-width: 100%;
    width: 90%;
}

.explore-cards ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.explore-cards ul>li{
    width: 180px;
    justify-content: center;
    z-index: -1000;
    animation: visibility-div 300ms ease 0ms;
}
.back-to-top-button{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--color-elementos-1);
    padding: 5px;
    border-radius: 0.5rem;
    z-index: 10;
}

.back-to-top-button:hover{
    scale: 1.2;

}

.back-to-top-button>svg{
    width: 24px;
    fill: var(--color-texto-secundario);
}

.spinner-svg{
    width: 150px;
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

.spinner-svg>svg{
    width: 150px; 
    animation: spinner 2s linear infinite; 
}

.content-explore-page{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-explore-page-title{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 24px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.content-explore-page-title h3{
    /* font-size: 56px; */
    font-size: clamp(2.25rem, 1rem + 4vw, 3rem);
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.content-explore-page-title img{
    width: 400px;
    height: auto;
    flex-shrink: 0;
    border-radius: 30%;
}

.content-explore-page-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 90%;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.explore-button{
    padding:18px;
    /* font-size: 32px; */
    font-size: clamp(1.25rem, 0rem + 4vw, 2rem);
    align-items: center;
    font-weight: 600;
    color: #97eb57;
    border-radius: 1rem 1rem 0 0;
    border: solid 3px #97eb57;
    border-bottom: solid 3px #97eb57;
    transition: all 300ms ease;
    background-color: var(--background-color-dark);
    scale: 0.6;
    margin-bottom: -23px;
}


.content-explore-page-svg{
    position: relative;
    top: -11px;
    z-index: -100;
    width: 90%;
}

.explore-button-active{
    border-bottom: solid 3px var(--background-color-dark);
    margin-bottom: -1px;
    text-decoration: underline 0.1rem;
    padding: 24px;
    scale: 1;
}

.sets-section>ul>li{
    height: unset;
}

.sets-section>ul>li>p:first-of-type{
    flex: 1 0 0;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:900px) {
    .navbar{
        padding: 0 24px;
    }

    .logo-navbar {
        width: 140px;
    }

    .form-navbar {
        width: 100%;
        height: 35px;
    }

    .navbar-icons{
        position: fixed;
        bottom: 10px;
        align-self: center;
        background-color: var(--color-elementos-1);
        justify-content: center;
        padding: 0 10px;
        border-radius: 15px;
        left: 15px;
        z-index: 9999;
    }

    .search-explore-container>ul{
        flex-wrap: wrap;
    }

    .mana-elements-svg>svg:first-child {
        top: 120px;
        left: 0px;
    }
    .mana-elements-svg>svg:nth-child(2) {
        top: 130px;
        left: unset;
        right: 0px;
    }
    .mana-elements-svg>svg:nth-child(3){
        top: unset;
        bottom: 0px;
        right: 0px;
    }
    .mana-elements-svg>svg:last-child {
        top: unset;
        bottom: 80px;
        right: unset;
        left: 20px;
    }

    .sections-overlay>div {
        width: 70vw;
        margin: 0px 15px;
        gap: 25px;
    }
    .popup{
       box-shadow: -5px 2px 10px 5px var(--background-color-dark); 
    }
    
    .cart-overlay>div {
        width: auto;
        max-width: none;
    }

    .on-sale-section {
        max-width: 600px;
        padding: 24px;
        width: unset;
    }

    .on-sale-section>ul {
        display: grid;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
        justify-content: center;
    }

    .on-sale-section>ul>li {
        max-height: 350px;
        gap: unset;
        width: 180px;
        justify-content: center;
        z-index: 0;
    }
    .explore-button {
        border-width: 2px;
    }
    .content-explore-page-svg {
        top: -10px;
    }

    .explore-button-active{
        border-bottom: solid 1.5px var(--background-color-dark);
        margin-bottom: -1px;
    }

}

@media (max-width:720px) {
    .sections-overlay>div {
        gap: 15px;
    }
    .cart-overlay>div {
        padding: 45px 24px;
    }
    .cart-overlay.sections-overlay>div>ul>div {
        gap: 6px;
    }
    .cart-overlay.sections-overlay>div>ul>div>div:first-of-type {
        width: 180px;
    }
    .content-explore-page-title{
        flex-direction: column;
    }
    .content-explore-page-title h3{
        order: 2;
    }
    .content-explore-page-title img {
        order: 1;
        width: 80%;
    }
    .explore-button {
        border-width: 2px;

    }
    .content-explore-page-svg {
        top: -9px;
    }

    .explore-button-active{
        border-bottom: solid 1px var(--background-color-dark);
        margin-bottom: -2px;
    }

    .content-explore-page-svg {
        top: -8px;
    }

    .explore-button-active {
        margin-bottom: -3px;
    }

}

@media (max-width:500px) {
    .navbar{
        padding: 0 8px 0 12px;
        gap: 8px;
    }

    .logo-navbar {
        width: 55px;
    }

    .search-explore-container {
        height: calc(100vh - 200px);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 20px 40px;
    }

    .search-explore-container::-webkit-scrollbar{
        width: 10px;
        background: #8299ac;
        border-radius: 5px;
    }
    
    .search-explore-container::-webkit-scrollbar-thumb {
        width: 10px;
        background: var(--background-color-dark);
        border-radius: 5px;
    }

    .search-explore-container>ul{
        flex-direction: column;
        gap: 20px;
    }

    .search-explore-container>div {
        font-size: 22px;
    }

    .search-explore-container>ul>li {
        gap: 6px;
    }

    .search-explore-container>ul>li>h3{
        font-size: 18px;
    }
    .search-explore-container>ul>li>div{
        font-size: 16px;
    }

    .user-menu{
        height: calc(100vh - 180px);
        padding: 12px;
        gap: 12px;
    }

    .user-menu-content>ul>div div{
        font-size: 16px;
        padding: 6px 8px;
    }

    .notifications-menu>div {
        height: 60%;
    }

    .sections-overlay>div>div:first-child>h3{
       font-size: 24px; 
    }
    .notifications-menu>div>ul>div>div>div:first-child{
        font-size: 16px;
    }
    .notifications-menu>div>ul>div>div>div:nth-child(2) {
        font-size: 16px;
    }

    .cart-overlay>div {
        height: 60%;
    }

    .cart-overlay.sections-overlay>div>ul>div {
        display: grid;
        column-gap: 5px;
        grid-template-columns: 80px 130px auto;
        grid-template-rows: auto 20px;
        justify-content: space-around;
    }

    .cart-overlay.sections-overlay>div>ul>div>div:first-of-type {
        width: auto;
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .cart-overlay.sections-overlay>div>ul>div>p:first-of-type {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .cart-overlay.sections-overlay>div>ul>div>div:nth-of-type(2) {
        gap: 5px;
    }

    .svg-delete-item {
        grid-row-start: 2;
        grid-column-start: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        justify-self: center;
    }

    .on-sale-section {
        max-width: 350px;
        padding: 15px 25px;
        width: unset;
    }

    .on-sale-section>h3 {
        line-height: 1.7rem;
        font-size: 22px;
        margin-top: 15px;
    }

    .on-sale-section>ul {
        max-width: 95%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
        justify-content: center;
    }

    .on-sale-section>ul>li {
        max-height: 250px;
        gap: unset;
        min-width: 100px;
        max-width: 130px;
    }

    .on-sale-section>ul>li>div {
        height: 40%;
    }

    .on-sale-section>ul>li>p:first-of-type {
        font-size: 16px;
    }

    .on-sale-section>ul>li>div:last-of-type>p {
        font-size: 14px;
    }

    .content-explore-page-svg {
        top: -6px;
    }

    .explore-button-active {
        margin-bottom: -5px;
    }

}

@media (max-width:400px) {
    .cart-overlay.sections-overlay>div>ul>div {
        grid-template-columns: 80px 80px auto;
    }
    .on-sale-section>ul>li {
        max-height: 250px;
        gap: unset;
        min-width: 100px;
        max-width: 110px;
    }
}

@media (max-height:750px) {
    .sections-overlay>div {
        max-height: 70%;     
        padding: 24px 24px;   
    }

    .registration-overlay>div>form {
        gap: 10px;
    }

    .registration-overlay>div>form::-webkit-scrollbar{
        width: 10px;
        background: #8299ac;
        border-radius: 5px;
    }
    
    .registration-overlay>div>form::-webkit-scrollbar-thumb {
        width: 10px;
        background: var(--background-color-dark);
        border-radius: 5px;
    }

    .registration-overlay>div>form>div {

        align-self: flex-start;
        font-size: 16px;
    }

    .registration-overlay>div>form input {
        padding-left: 0;
    }
    .registration-overlay>div>form p {
        display: none;
    }
}

@media (max-height:900px) {
    .user-menu{
        overflow-y: scroll;
    }

}body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo:hover {
  transform: scale(1.1);
}
.footer {
  align-items: center;
  justify-content: center;
  background-color: #050e15;
  color: antiquewhite;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.LoginFooterBar {
  display: flex;
  max-width: 1140px;
  padding: 24px 76px 24px 75px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-radius: 10px;
  background: var(
    --gradiente-select-menu,
    url(<path-to-image>),
    rgb(8, 55, 83) 50% / cover no-repeat
  );
  background-blend-mode: lighten;
  margin: 0 auto;
  background-size: cover;
}
.LoginFooterBar h2 {
  color: antiquewhite;

  cursor: default;
}

.LoginFooterBar-button {
  all: unset;

  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  height: 48px;
  padding: 0px 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(90deg, #023a64);
  border: none;
  white-space: nowrap;
  color: aliceblue;
  cursor: pointer;
}

.LoginFooterBar-button::after,
.LoginFooterBar-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.LoginFooterBar-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #050e15;
  border-radius: 10px;
}

.LoginFooterBar-button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;

  /* background: #073753;
  background: #c78d18; */
  background: linear-gradient(315deg, #073753 40%, #c78d18 84%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.LoginFooterBar-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.LoginFooterBar-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.LoginFooterBar-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.Footer-explore {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ListOfLists {
  margin-top: 6px;
  width: 85px;
  transition: transform 0.2s ease-in-out;

  /* color: #c78d18; */
}
.ListOfLists:hover {
  cursor: pointer;

  /* box-shadow: 1px 1px 0px red; */
  border-bottom: 1px solid var(--color-texto-secundario);
  transform: scale(0.95);
}
.Footer-explore h3 {
  color: #97eb57;;
  font-size: 20px;
  width: 110px;
  transition: transform 0.3s ease-in-out;
}
.Arrow {
  display: none;
}
.Footer-explore h3:hover {
  cursor: pointer;
  /* box-shadow: 2px 2px 0px red; */
  border-bottom: 2px solid var(--color-texto-secundario);
  transform: scale(1.1);
}

.footer-bar {
  display: flex;
  max-width: 1140px;
  padding: 24px 26px 24px 25px;
  align-items: center;

  border-radius: 10px;
  justify-content: space-around;
  background-blend-mode: lighten;
  margin: 0 auto;
  margin-bottom: 40px;
}


.footer-hr {
  height: 3px;
  background-color: #013a64;
  border: none;
  margin: 40px 0 40px 0;
}

.SocialMedia {
  display: flex;
  align-items: center;
  gap: 8px;
}
.SocialMedia-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: var(
    --gradiente-select-menu,
    url(<path-to-image>),
    rgb(8, 55, 83) 50% / cover no-repeat
  );
  transition: transform 0.3s ease-in-out;
}
.SocialMedia-icon:hover {
  transform: scale(1.3);
  background-color: #c78d18;
}
.ExploreEdi {
  display: none;
}
@media (max-width: 1400px) {
  .LoginFooterBar {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (max-width: 990px) {
  .ExploreEdi {
    display: none;
  }
  
  .footer {
    padding-bottom: 1rem;
  }
  .footer-bar {
    gap: 30px;
    margin-bottom: 0px;
  }
  .Footer-explore h3 {
    padding: 0;
    margin: 0 ;
    margin-top: 10px;
    width: 200px;
  }

  .Arrow {
    color: #c78d18;
    display: contents;
  }
  .Footer-explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .LoginFooterBar {
    display: flex;
    width: 505px;
    padding: 24px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    background-blend-mode: lighten;
    margin: 0 auto;
  }
  .LoginFooterBar .logo {
    display: none;
  }

  .Explore-category h3 {
    color: antiquewhite;
    text-align: center;
  }
  .Explore-category .ListOfLists{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: none;
    
  }
  .Explore-category:hover h3 {
    border-bottom: none;
    margin-bottom: 10px;
    text-align: center;
  }
  

  .footer-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Footer-explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LoginFooterBar {
    width: 65%;
  }
  .displayFooterExplore{
    display: none;
  }
}


/* sssssssssssssssssssssssssssssssssssssssssssssssssssHOW TO CARD */
.HowTo-container{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #050E15;
  padding-top: 2rem;
  gap: 6rem ;
  padding-bottom: 3rem;
}
.HowToCardTop-container{
  display: flex;
  
  align-items: center;
  background-image: url(./assets/HowToButtom.png);
  background-size: cover;
  width: 800px;
  height: 400px;
  border-radius: 50px;
  overflow: hidden;
  
}
.HowToCardTop-text{
  color: #050E15;
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #050E15;
  font-family: "Noto Sans";
  font-size: 96px;
  font-weight: 1000;
  line-height: normal;
}
.HowTocardLong-container{
  display: none;
  background-image: url(./assets/HowToTop.png);
  width: 90%;
  height: 211px;
  border-radius: 35px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.HowToCardButtom-container{
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  background-image: url(./assets/HowToTop.png);
  background-size: cover;
  width: 800px;
  height: 400px;
  border-radius: 50px;
  /* margin-left: 5rem; */
  overflow-x: hidden;
 
}
.HowToCardTop-text-2{
  color: #EDB72D;
  
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #050E15;
  font-family: "Noto Sans";
  font-size: 40px;
  
  font-weight: 800;
  line-height: normal;
}
.HowToCardButtom-text-2{
  color: #EDB72D;
  
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: #050E15;
  font-family: "Noto Sans";
  font-size: 40px;
  
  font-weight: 800;
  line-height: normal;
}
.HowTo-button-container{
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 300px;
  border: 20px solid #050E15;
  background: var(--color-elementos-4, #c78d18);
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  transition: background-color 0.5s ease;
  
}
.HowToCardTop-svg-right {
  width: 450px;
  box-sizing: border-box;
  flex-shrink: 0;
  /* opacity: 0;  */
  /* transform: translateX(-100%); */
  /* transition: opacity 0.5s ease, transform 0.5s ease;  */
}

.HowToCardTop-container:hover .HowToCardTop-svg-left{
  opacity: 1;
  transform: translateX(0); 
  
}
.HowToCardButtom-svg-left {
  width: 450px;
  box-sizing: border-box;
  flex-shrink: 0;
  /* opacity: 0; 
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;  */
  margin-left: -110px;
}

.HowToCardButtom-container:hover .HowToCardButtom-svg-right {
  opacity: 1;
  transform: translateX(0); 
}

.HowToCardTop-svg-left{
  width: 460px;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  left: -107px;
  opacity: 0; 
  transition: opacity .5s ease; 
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}
.HowToCardButtom-svg-right {
  width: 460px;
  box-sizing: border-box;
  flex-shrink: 0;
  opacity: 0; 
  transition: opacity .5s ease; 

  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}
.HowToCardTop-container:hover .HowToCardTop-svg-left {
  opacity: 1;
}
.HowToCardButtom-container:hover .HowToCardButtom-svg-right{
  opacity: 1;
}
.text1,.text2,.text3,.text11,.text22,.text33,.FlechaParabajo-top-1,.FlechaParabajo-top-2,.FlechaParabajo-top-3,.FlechaParabajo-top-4 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.HowToCardTop-container:hover .text1 {
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
}




.HowToCardTop-container:hover .text1 {
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
}
.HowToCardTop-container:hover .FlechaParabajo-top-1 {
  transition-delay: 0.7s;
  opacity: 1;
  visibility: visible;
}
.HowToCardTop-container:hover .text2 {
  transition-delay: 1.2s;
  opacity: 1;
  visibility: visible;
}
.HowToCardTop-container:hover .FlechaParabajo-top-2 {
  transition-delay: 1.7s;
  opacity: 1;
  visibility: visible;
}

.HowToCardTop-container:hover .text3 {
  transition-delay: 2.2s;
  opacity: 1;
  visibility: visible;
}
.HowToCardButtom-container:hover .text11 {
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
}
.HowToCardButtom-container:hover .FlechaParabajo-top-3{
  transition-delay: .7s;
  opacity: 1;
  visibility: visible;
}

.HowToCardButtom-container:hover .text22 {
  transition-delay: 1.3s;
  opacity: 1;
  visibility: visible;
}
.HowToCardButtom-container:hover .FlechaParabajo-top-4{
  transition-delay: 1.8s;
  opacity: 1;
  visibility: visible;
}
.HowToCardButtom-container:hover .text33 {
  transition-delay: 2.2s;
  opacity: 1;
  visibility: visible;
}





.HowTo-button-container:hover {
  background:#073753;

}

.HowTo-button{
  display: flex;
  height: 51px;
  width: 170px;
  padding: 0px 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color-background-dark, linear-gradient(0deg, #050E15 0%, #050E15 100%));
  
  font-weight: 800;
  border: none;

}
.HowTo-button {
  all: unset;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  height: 48px;
  padding: 0px 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(90deg, #023a64);
  border: none;
  white-space: nowrap;
  color: #EDB72D;
  font-weight: 800;
  cursor: pointer;
  width: 74px;
  
}




.HowTo-button::after,
.HowTo-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.HowTo-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #050e15;
  border-radius: 10px;
}

.HowTo-button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: linear-gradient(315deg, #073753 40%, #c78d18 84%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.HowTo-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.HowTo-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.HowTo-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.HowToCardTop-text{
  stroke:#050E15; stroke-width:1%;
} 
  
.HowToCardTop-text{
stroke:#050E15; stroke-width:0.3rem;

}
.ojoSvg{
  display: none;
}

@media (max-width: 1700px){
  .HowTo-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .HowToCardButtom-container{
    margin: 0 auto;
    /* width: 70%; */

  }
  .text11 {
    transform: translate(-7%,0%);
  }
  .text22 {
    transform: translate(-3%,0%);
  }
  .text33 {
    transform: translate(20%,0%);
  }
  .HowToCardTop-svg-left{
    position: relative;
   /* left: 300px;  */
  }
  .HowToCardButtom-svg-left{
    margin-top: 40px;
  }
  .HowToCardButtom-svg-right{
    margin-top: 40px;
  }
  .HowToCardTop-svg-right{
    margin-bottom: 50px;
  }
  .HowToCardTop-svg-left{
    margin-bottom: 50px;
  }
}
@media (max-width: 900px){
  .HowToCardTop-container{
    width: 95%;
    margin-bottom: 1rem;
    
  }
  
  .HowToCardTop-svg-right{
    width: 54%;
    margin-bottom: 0;
    
  }
  .HowToCardTop-svg-left{
    width: 55%;
    left: calc(50% - 55%);
    margin-bottom: 0;

  }
  .HowTo-button-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .HowToCardButtom-container{
    width: 95%;
    margin: 0 auto;
    justify-content: space-between ;
  }
  .HowToCardButtom-svg-right{
    width: 54%;
    right: calc(50% - 55%);
    margin-top: 0;
  }
  .HowTo-button{
    width: 45px;
  }
  .HowToCardButtom-svg-left{
    width: 54%;
    margin-top: 0;
  }

  .HowToCardButtom-container{
    background-image: url(./assets/Rakdos-Patron-of-Chaos-Murders-at-Karlov-Manor-MtG-Art.jpg);

  }
  .HowToCardTop-container{
    background-image: url(./assets/Sword-of-Forge-and-Frontier-Phyrexia-All-Will-Be-One-MtG-Art.jpg);
  }
  .HowToCardTop-container:hover{
    background-size: 170%;
  }
  .HowToCardButtom-svg-right {
    opacity: 1;
    transform: translateX(0);

  }
  .HowToCardTop-svg-left{
    opacity: 1;
    transform: translateX(0);
  }
  .text1,.text2,.text3,.text11,.text22,.text33,.FlechaParabajo-top-1,.FlechaParabajo-top-2,.FlechaParabajo-top-3,.FlechaParabajo-top-4 {
    opacity: 1;
    visibility: visible;
    
  }
}
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background-color: #0c1e2b; 
}

::-webkit-scrollbar-thumb {
  background-color: #c78d18 ; 
  border-radius: 6px; 
}
/* STATS CARD DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */
/* STATS CARD DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */
/* STATS CARD DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */
/* STATS CARD DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */
/* STATS CARD DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */

.CardsStats-container{
  background-color: #050E15;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

.CardsStats-container li {
  list-style: none;
 width: 200px;
 margin: 10px;
 
 
}
.ul-card-container {
  max-height: 210px; /* Altura máxima para activar la barra de desplazamiento */
  overflow-y: auto;
  overflow-x: hidden;
}

.ul-card-section {
  flex: 1;
}


.title-card{

  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-weight: 800;
  color: #EDB72D;
  margin-left: 20px;
}
.CardsStats-container  p{
  color: aliceblue;
  margin-left: 20px;

  
}

.CardsStatsInfo-container{
  display: flex;
    background-color: #050E15;
    color: #EDB72D;
    margin-top: 40px;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    
}
.table-container{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.table-container table{
  width: 100%;
  
}


.table-container td{
  
  padding: 10px;
  background-color: #050E15;
  color: aliceblue;
  text-align: center;
  cursor: pointer;
  margin: 0px;
  gap: 0;
  text-align: center;
  justify-content: center;
  align-items: center;

}
table{
  border-collapse: unset;
  border-spacing: 0px;
}
.table-container tr td:nth-child(2) {
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}


.table-container td:hover{
  /* background-color: #013A64; */
  scale: 0.9;
  transition: 0.5s;
}
th, td {
  border: 1px solid #050E15; 
}
.table-container th{
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  width: 33.33%;
  padding: 10px;
  background-color: #050E15;
  color: #EDB72D;
  font-size: 20px;
  /* border-bottom: #c78d18 1px solid;
  border-bottom: 2px solid #EDB72D; */
  padding: 2rem;
  
} 
.table-container th::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #EDB72D;
}
.title-market{
  font-size: 20px;
  font-weight: 800;
  color: #EDB72D;
  background-color: var(--background-color-dark);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  /* border-bottom: #c78d18 1px solid; */
  margin-bottom: 40px;
  margin-top: 40px;
  height: 30px;
  border-bottom: 2px solid #EDB72D;
}
 a{
  text-decoration: none; 
}
.load-more{
  /* padding-top: 1rem; */
  margin-bottom: 40px;
  margin-top: 40px;
  height: 30px;
  width: 110px;
  border-bottom: 2px solid #EDB72D;
  
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo oscuro */
  z-index: 999;
  transition: opacity 0.4s ease; /* Agrega una transición suave */
}

.overlay.active {
  opacity: 1; 
}

.modal-content {
  max-width: 600px;
  margin: 0 auto;
  
}
.ReactModal__Content {
background-color: #013a64;
border-radius: 20px;
}
.legend-table {
  width: 100%;
  border-collapse: collapse;
}
.legend-table th,
.legend-table td {
  border: 1px solid #501616;
  padding: 8px;
  text-align: left;
  
}

.legend-table th {
  background-color:#050e15 ;
  color: #c78d18;
  font-weight: bold;
}

.legend-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.legend-table tr:hover {
  background-color: #f2f2f2;
}
#th2child  {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  color: #c78d18;
  cursor: pointer;
}
.modal-btn-clouse{
  margin-left: 30%;
  margin-top: 10px;
}
.back-to-top-button{
  position: fixed;
  bottom: 90px;
  right: 30px;
  fill: #c78d18;
  border-bottom: 2px solid #EDB72D;
  width: 30px;

  /* color: #EDB72D; */
}
.svg-persons{
  display: flex;
  left: 0;
  margin-top: -24px;
  justify-content: center;
  align-items: center;
  /* width: 10%; */
}
.svg-state{
  display: flex;
  left: 0;
  margin-top: -24px;
  justify-content: center;
  align-items: center;
}
.ul-card{
  color: #f0f0f0;
  
}
.rarity-li{
  color: #EDB72D;
}

