:root{
    --background-color-dark:#050E15;
    --color-elementos-1: #013A64;
    --color-texto-secundario:#F8F8F2;
    --gradiente-texto: linear-gradient(180deg, #fff100 20.5%, #ecbf24 55.5%, #e68d03 100%);
    --gradiente-select-menu: url("assets/backgroundElements.png");
    --grad-texto-azul:linear-gradient(180deg, #e7ed92 14.5%, #99d764 55.5%, #69f700 90%);
}

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body{
    background-color: var(--background-color-dark);
    margin: 0;
    color: var(--color-texto-secundario);
    overflow-x: hidden;
}

button{
    background-color: transparent;
    border: none;
    color: var(--color-texto-secundario);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.navbar{
    background-color: var(--color-elementos-1);
    display: flex;
    height: 60px;
    padding: 0px 36px 0px 41px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    align-self: stretch;
}

.logo-navbar{
    display: flex;
    width: 187px;
    justify-content: space-between;
    align-items: center; 
}

.logo-navbar>div>a{
    width: 0;
    display: flex;
}

.navbar-search{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.form-navbar{
    display: flex;
    width: 539px;
    padding: 5px 10px 5px 15px;
    justify-content: space-between;
    align-items: center; 
    border-radius: 10px;
    background: var(--background-color-dark);
    color: var(--color-texto-secundario);
}

.input-search{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.form-navbar>input{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    color: var(--color-texto-secundario);
}

.form-navbar>button{
    background-color: transparent;
    border: none;
}
.form-navbar>button>svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
}

.navbar-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    
}

.navbar-icons>button{
    padding: 0;
    margin: 0;
    padding: 8px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: visibility-div 300ms ease 0ms;
}

.navbar-icons>button:hover{
    background-color: var(--background-color-dark);
}

.navbar-icons>button>svg{
    width: 24px;
    height: 24px; 
}
.elements-overlay{
    overflow-y: hidden;
    width: 100%;
    position: absolute;
    z-index: 99999;
}

.search-explore-overlay{
    height: calc(100vh - 60px);
    overflow-y: hidden;
    width: 100%;
}
.search-explore-container{
    display: flex;
    padding: 20px 80px;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    gap: 15px;
    border: 1px solid var(--color-background-dark, #050E15);
    background: var(--gradiente-select-menu);
    background-size: cover;
}

.search-explore-container>div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    font-family: "Noto Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-explore-container>div>h2{
    margin: 0;
    font-weight: 600;
}

.search-explore-container>div>svg{
    width: 24px;
}

.search-explore-container>ul{
    display: flex;
    align-items: flex-start;
    gap: 45px;
    align-self: stretch;
    list-style: none;
    padding: 0;
}

.search-explore-container>ul>li{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch; 
    font-family: "Noto Sans";
    line-height: normal;
}

.search-explore-container>ul>li>h3{
    margin-bottom: 5px;
    font-size: 20px;
    background: var(--grad-texto-azul);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.search-explore-container>ul>li>div:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--color-texto-secundario);
}

.popup-overlay{
    height: calc(100vh - 60px);
    overflow-y: hidden;
    width: 100%;
}

.popup{
    display: flex;
    min-width: 200px;
    height: 120px;
    padding: 8px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 0px;
    background: url(assets/backgroundElements.png);
    background-size: cover;
    margin: 5px;
    border-radius: 12px;
    animation: popUp-traslate 500ms ease 0ms;
}

@keyframes popUp-traslate {
    0%{
        transform: translateY(-150px);
        visibility: hidden;
    }
    100%{
        transform: translateY(0px);
    }
}

.notifications-popup>div:first-child,.cart-popup>div:first-child,.user-popup>div:nth-child(2) {
    color: var(--color-texto-secundario);
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-end;
}


.notifications-popup>div:nth-child(2), .cart-popup>div:nth-child(2),.user-popup>div:first-child,.user-popup>div:last-child{
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-end;
}

.user-popup>div:first-child{
    align-self: flex-start;
}

.notifications-popup>div:nth-child(2)>button,.cart-popup>div:nth-child(2)>button,.user-popup>div:first-child>button,.user-popup>div:last-child>button{
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.sections-overlay{
    height: calc(100vh - 60px);
    /* overflow-y: hidden; */
    width: 100%; 
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.sections-overlay>div{
    display: flex;
    width: 800px;
    padding: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background: var(--gradiente-select-menu);
    background-size: cover;
    background-blend-mode: lighten;
    align-self: center;
    margin-top: 75px;
    box-shadow: -1px -1px 20px 10px #20211f8c;
    z-index: 9999;
    animation: visibility-div 300ms ease 0ms;
}

@keyframes visibility-div {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.notifications-menu>div{
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: absolute;
}

.sections-overlay>div>div:first-child{
    display: inline-flex;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
}

.sections-overlay>div>div:first-child>h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10px;
}

.sections-overlay>div>ul{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 0 20px 
}

.sections-overlay>div>ul::-webkit-scrollbar{
    width: 10px;
    background: #8299ac;
    border-radius: 5px;
}

.sections-overlay>div>ul::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--background-color-dark);
    border-radius: 5px;
}

.sections-overlay>div>ul>div{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 10px 10px;
    border-bottom: 1px solid var(--color-texto-secundario);
}

.notifications-menu>div>ul>div>div{
    width: 100%;
}

.notifications-menu>div>ul>div>div>div:first-child{
    font-size: 18px;
}

.notifications-menu>div>ul>div>div>div:nth-child(2){
    font-size: 16px;
    color: #ffda54;
}

.notifications-menu>div>ul>div>div>p{
    font-size: 16px;
    font-weight: 200;
    margin-top: 5px;
}

.svg-delete-item{
    display: flex;
    align-items: center;
    border: transparent solid 2px;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
}
.svg-delete-item:hover{
    border: #493131 solid 2px;
    background-color: #912222;
    padding: 5px;
}

.cart-overlay>div{
    height: 500px;
    max-width: 650px;
}

.cart-overlay>div>div:last-child{
    display: inline-flex;
    justify-content: space-around;
    align-self: stretch;
    width: 100%;
}

.cart-overlay.sections-overlay>div>ul>div>div:first-of-type{
    width: 250px;
} 

.cart-overlay.sections-overlay>div>ul>div>div:first-of-type>div:nth-child(2){
    font-weight: 200;
}
.cart-overlay.sections-overlay>div>ul>div>div:first-of-type>div:nth-child(3){
    font-weight: 200;
}

.cart-overlay.sections-overlay>div>ul>div>div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
} 

.cart-overlay.sections-overlay>div>ul>div>div:nth-of-type(2)>button{
    display: flex;
    width: 22px;
    height: 22px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--background-color-dark);
    font-family: monospace;
}

.registration-overlay>div{
    position: absolute; 
    max-width: 500px;
}

.registration-overlay>div>div:first-child>h3 {
    padding: 0;
}

.registration-overlay>div>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.registration-overlay>div>form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
}
.registration-overlay>div>form label{
    align-self: flex-start;
}

.registration-overlay>div>form input{
    height: 31px;
    border-radius: 5px;
    background: var(--background-color-dark);
    color: var(--color-texto-secundario);
    border: none;
    width: 100%;
    padding-left: 10px;
}

.registration-overlay>div>form p{
    font-weight: 200;
    color: #ffda54;
}

.mana-elements-svg>svg:first-child{
    filter: drop-shadow(0px -4px 30px #98e46b82);
    position: absolute;
    top: 180px;
    left: 100px;
}
.mana-elements-svg>svg:nth-child(2){
    filter: drop-shadow(0px -10px 60px #6be4e482);
    position: absolute;
    top: 400px;
    left: 140px;
}
.mana-elements-svg>svg:nth-child(3){
    filter: drop-shadow(10px -1px 60px #e373ff82);
    position: absolute;
    top: 390px;
    right: 140px;
}
.mana-elements-svg>svg:last-child{
    filter: drop-shadow(0px 0px 40px #e4e26b82);
    position: absolute;
    top: 690px;
    right: 250px;
}

.user-menu{
    margin-top: 5px;
    display: flex;
    width: 250px;
    height: calc(100% - 115px);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 12px;
    border: 1px solid var(--color-background-dark, #050E15);
    background:var(--gradiente-select-menu);
    background-size: cover;
    position: absolute;
    right: 0px;
    top: calc(0px + 60px);
    z-index: 99999;
    box-shadow: -10px 5px 20px 5px var(--background-color-dark);
    animation: from-right 300ms ease 0ms;
}

@keyframes from-right {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}

.menu-closed{
    animation: to-right 300ms ease 0ms; 
}

@keyframes to-right {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(500px);
    }
}

.user-menu>button{
    align-self: flex-end;
}

.user-menu-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--background-color-dark);
}

.user-menu-photo>h3{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: var(--gradiente-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-menu-content{
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--background-color-dark);
}

.user-menu-content>ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    
}

.user-menu-content>ul>div{
    width: 100%;
}

.user-menu-list-item{
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    background-color: unset;
    width: calc(100% - 24px);
    border-radius: 8px;
}

.user-menu-list-item:hover{
    background-color: var(--background-color-dark);
}

.user-menu-submenu{
    display: flex;
    width: 205px;
    flex-direction: column;
    align-items: flex-start;
    background-color: unset;
}

.user-menu-submenu>div{
    display: flex;
    width: 172px;
    padding: 8px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    margin-left: 50px;
}

.user-menu-submenu>div:hover{
    background-color: var(--background-color-dark);
}

.user-menu-settings{
    flex: 1 0 0;
    width: 100%;
}

.user-menu-settings>div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 8px;
}

.user-menu-settings>div:hover{
    border-radius: 8px;
    background-color: var(--background-color-dark);
}

.user-menu-last{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: calc(100% - 24px);
}

.user-menu-last>div{
    display: flex;
    flex-direction: row;
    padding: 10px 12px;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.user-menu-last>div:hover{
    border-radius: 8px;
    background-color: var(--background-color-dark);
}

.section-main-content{
    animation: visibility-div 400ms ease 0ms;
}

@media (max-width:900px) {
    .navbar{
        padding: 0 24px;
    }

    .logo-navbar {
        width: 120px;
    }

    .form-navbar {
        width: 100%;
    }

    .navbar-icons{
        position: fixed;
        bottom: 10px;
        align-self: center;
        background-color: var(--color-elementos-1);
        justify-content: center;
        padding: 0 10px;
        border-radius: 15px;
        left: 15px;
        z-index: 9999;
    }

    .search-explore-container>ul{
        flex-wrap: wrap;
    }

    .mana-elements-svg>svg:first-child {
        top: 120px;
        left: 0px;
    }
    .mana-elements-svg>svg:nth-child(2) {
        top: 130px;
        left: unset;
        right: 0px;
    }
    .mana-elements-svg>svg:nth-child(3){
        top: unset;
        bottom: 0px;
        right: 0px;
    }
    .mana-elements-svg>svg:last-child {
        top: unset;
        bottom: 80px;
        right: unset;
        left: 20px;
    }

}

@media (max-width:900px) {
    .sections-overlay>div {
        width: 70vw;
        margin: 0px 15px;
        gap: 25px;
    }
    .popup{
       box-shadow: -5px 2px 10px 5px var(--background-color-dark); 
    }
    
    .cart-overlay>div {
        width: auto;
        max-width: none;
    }

}

@media (max-width:720px) {
    .sections-overlay>div {
        gap: 15px;
    }
    .cart-overlay>div {
        padding: 45px 24px;
    }
    .cart-overlay.sections-overlay>div>ul>div {
        gap: 6px;
    }
    .cart-overlay.sections-overlay>div>ul>div>div:first-of-type {
        width: 180px;
    }
}

@media (max-width:500px) {
    .navbar{
        padding: 0 8px 0 12px;
        gap: 8px;
    }

    .logo-navbar {
        width: 120px;
    }

    .search-explore-container {
        height: calc(100vh - 200px);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 20px 40px;
    }

    .search-explore-container::-webkit-scrollbar{
        width: 10px;
        background: #8299ac;
        border-radius: 5px;
    }
    
    .search-explore-container::-webkit-scrollbar-thumb {
        width: 10px;
        background: var(--background-color-dark);
        border-radius: 5px;
    }

    .search-explore-container>ul{
        flex-direction: column;
        gap: 20px;
    }

    .search-explore-container>div {
        font-size: 22px;
    }

    .search-explore-container>ul>li {
        gap: 6px;
    }

    .search-explore-container>ul>li>h3{
        font-size: 18px;
    }
    .search-explore-container>ul>li>div{
        font-size: 16px;
    }

    .user-menu{
        height: calc(100% - 180px);
        padding: 12px;
        gap: 12px;
    }

    .user-menu-content>ul>div div{
        font-size: 16px;
        padding: 6px 8px;
    }

    .notifications-menu>div {
        height: 60%;
    }

    .sections-overlay>div>div:first-child>h3{
       font-size: 24px; 
    }
    .notifications-menu>div>ul>div>div>div:first-child{
        font-size: 16px;
    }
    .notifications-menu>div>ul>div>div>div:nth-child(2) {
        font-size: 16px;
    }

    .cart-overlay>div {
        height: 60%;
    }

    .cart-overlay.sections-overlay>div>ul>div {
        display: grid;
        column-gap: 5px;
        grid-template-columns: 80px 130px auto;
        grid-template-rows: auto 20px;
        justify-content: space-around;
    }

    .cart-overlay.sections-overlay>div>ul>div>div:first-of-type {
        width: auto;
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .cart-overlay.sections-overlay>div>ul>div>p:first-of-type {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .cart-overlay.sections-overlay>div>ul>div>div:nth-of-type(2) {
        gap: 5px;
    }

    .svg-delete-item {
        grid-row-start: 2;
        grid-column-start: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        justify-self: center;
    }

}

@media (max-width:400px) {
    .cart-overlay.sections-overlay>div>ul>div {
        grid-template-columns: 80px 80px auto;
    }
}

@media (max-height:750px) {
    .sections-overlay>div {
        max-height: 70%;     
        padding: 24px 24px;   
    }

    .registration-overlay>div>form {
        gap: 10px;
    }

    .registration-overlay>div>form::-webkit-scrollbar{
        width: 10px;
        background: #8299ac;
        border-radius: 5px;
    }
    
    .registration-overlay>div>form::-webkit-scrollbar-thumb {
        width: 10px;
        background: var(--background-color-dark);
        border-radius: 5px;
    }

    .registration-overlay>div>form>div {

        align-self: flex-start;
        font-size: 16px;
    }

    .registration-overlay>div>form input {
        padding-left: 0;
    }
    .registration-overlay>div>form p {
        display: none;
    }
}

@media (max-height:900px) {
    .user-menu{
        overflow-y: scroll;
    }
    .user-menu-content {
        overflow-y: scroll;
    }
}